@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&display=swap');

body{
    padding: 30px;
    font-family: 'Geologica', sans-serif;
}

#logo{
    height: 150px;
    width: 100%;
    background-color: rgb(55, 55, 239);
    text-align: center;
}

#logo img{
    height: 80%;
    margin-top: 15px;
}

h1{
    display: inline-block;
    font-size: 4em;
    color: white;
    padding-left: 30px;
    font-weight: 700;
}

#logo span{
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
}

main{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: aliceblue;
}

#main{
    width: 500px;
    height: 300px;
    border: 2px solid rgb(55, 55, 239);
    margin: auto;
    background-color: gold;
}

#title{
    text-align: center;
    font-size: 2.5em;
    padding: 30px;
    color: black;
    font-weight: 600;
}

label{
    display: block;
    padding-bottom: 20px;
    font-size: 1.5em;
}

input{
    width: 80%;
    height: 30px;
}

form{
    text-align: center;
}

form div{
    padding-top: 25px;
}


button{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.3em;
    font-style: italic;
}

.done{
    text-decoration: line-through;
}

.task-card{
    width: 500px;
    height: 100px;
    margin: auto;
    border: 1.5px solid black;
    padding: 20px;
    background-color: lightgoldenrodyellow;
    margin-bottom: 15px;
    text-align: center;
}

.task-card p{
    display: inline-block;
    padding: 10px;
    font-size: 1.7em;
    width: 90%;
    margin: auto;
}
.task-card input{
    width: 15%;
}

#new-task{
    padding: 15px;
}

section{
    background-color: aliceblue;
}